.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* close commented backslash hack */
/*.style-nav {
    background-image: url(/img/patterns/fabric_of_squares_gray.png);
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 400px) {
    .style-nav img {
        width: 70%;
    }
    .s1 img {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .s2 ul li {
        font-size: 17px;
    }
    .s2 h1 {
        font-size: 60px;
    }
}

@media screen and (min-width: 1101px) {
    .s2-img {
        width: 60%;
        float: left;
    }
    .s2-copywriting {
        width: 40%;
        float: left;
        max-width: 450px;
    }
    .s2 {
        padding: 10px 40px;
    }
    .s2 ul li {
        font-size: 19px;
        line-height: 27px;
    }
    .s2 h1 {
        font-size: 70px;
    }
}

.nav-opt {
    list-style: none;
    display: none;
}

.nav-opt li {
    background-image: url(/img/patterns/fabric_of_squares_gray.png);
    padding-left: 0;
    margin-left: 0;
    color: black;
    border-bottom: 1px solid #afafaf;
    line-height: 35px;
}

.nav-opt li:hover {
    background: #ddd;
}

.nav-background {
    background-image: url(/img/patterns/fabric_of_squares_gray.png);
}

.style-nav a {
    color: black;
}

.x-menu {
    cursor: pointer;
    width: 65px;
    position: absolute;
    right: 0.833333rem;
    top: 37px;
}

.x-menu::after {
    cursor: pointer;
    content: "";
    display: block;
    height: 0;
    position: relative;
    margin-top: -19px;
    top: 4%;
    right: -2.97rem;
    box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
    width: 16px;
}

.s1 img {
    width: 100%;
}

.s2 ul li {
    list-style: url(/img/ceklis.png);
    font-family: corbel,'droid-sans', sans-serif;
}

.s2-desc {
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    box-shadow: #bfbfbf 0px 0px 5px;
    padding: 10px 15px;
    margin: 0 10px;
}

.s2 h1 {
    color: rgb(0, 175, 222);
    font-family: "bebas-neue";
    margin: 0 10px;
    text-align: center;
    line-height: 80px;
}*/

@media screen and (max-width: 1099px) {
    .s2 ul li {
        font-size: 16px;
    }
    .s2-title {
        font-size: 50px;
    }
    .s3 h1 {
        font-size: 24px;
    }
    .s4 h1 {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .s4 {
        padding-top: 30px;
    }
    
}

@media screen and (max-width: 500px) {
    .reseller-form {
        padding: 0;
    }
}

@media screen and (min-width: 1100px) {
    .s2-desc,
    .s2-title {
        max-width: 420px;
    }
    .s2-title {
        font-size: 70px;
    }
    .s2 ul li {
        font-size: 19px;
    }
    .s3-img {
        margin-bottom: 90px;
    }
    .s3 h1 {
        font-size: 33px;
    }
    .s4 h1 {
        font-size: 20px;
    }
    .s4 {
        padding-top: 50px;
    }
    .cs-s1 {
        padding-bottom: 170px;
    }
}

.s1 img {
    width: 100%;
}

.s2 ul li {
    list-style: url(/img/ceklis.png);
    font-family: corbel, 'droid-sans', sans-serif;
}

.s2 {
    padding-right: 0;
    padding-left: 0;
}

.s2-desc {
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    box-shadow: #bfbfbf 0px 0px 5px;
    padding: 10px 15px;
    margin: 0 10px;
}

.s2 h1 {
    color: rgb(0, 175, 222);
    font-family: "bebas-neue";
    margin: 0 10px;
    text-align: center;
    line-height: 80px;
}

.s3 {
    text-align: center;
    background-image: url(/zmm/img/s3_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: 1px solid #444444;*/
    
    border-top: 1px solid #444444;
}

.s3 h1 {
    font-family: "bebas-neue";
    padding-top: 40px;
}

/*.s3-img:hover {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    text-decoration: none;
    transition: all 0.5s ease;
    
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    color: white;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.s3-img:hover,
.s3-img:focus,
.s3-img:active {
    transform: translateY(-8px);
}*/

.s4 {
    background: #333;
}

.s4 h1 {
    color: #dddddd;
}

.s5 img {
    width: 100%;
}

.s5 {
    background-color: #dddddd;
}

.t1 {
    background-color: rgb(176, 222, 235);
}

.t2 {
    background-color: rgb(130, 211, 232);
}

.zero-padding {
    padding: 0;
}

.s6 {
    padding: 0;
}

.padding-on {
    padding: 20px 20px;
}

.s8 img {
    width: 100%;
}

.s8 {
    padding: 0;
    margin: 0;
}

.s8 {
    border-bottom: 1px solid #525252;
    text-align: center;
}

.s8 h2 {
    font-size: 20px;
    font-family: calibri, 'bebas-neue';
}

.footer {
    font-family: calibri;
    background-color: #efefef;
    text-align: center;
    padding: 15px 0;
}

.footer img {
    padding: 0 5px;
    width: 30px;
}

.cs-s1 {
    padding-top: 40px;
}

.cs-s1 p {
    font-family: calibri, sans-serif;
    line-height: 25px;
    margin: 25px 0;
}

.cs-s1 h2 {
    margin-top: 20px;
    font-size: 26px;
    line-height: 25px;
    font-family: calibri, sans-serif;
}

.cs-s1 h4,
.cs-s1 li {
    font-size: 16px;
    font-family: calibri, sans-serif;
    color: #999;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.phone a,
.mail a,
.twitter a {
    color: #222;
    font-size: 16px;
}

.contact-info a {
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 25px;
    margin: 0 0 20px;
    line-height: 30px;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}

.s2-carousel {
    border: 1px solid #222;
    text-align: center;
}

.s2-xpedia-title h1 {
    font-size: 35px;
    font-family: calibri, sans-serif;
}

.s2-xpedia-sd h1 {
    font-size: 19px;
    font-family: calibri, sans-serif;
}

.s2-xpedia-sd h2 {
    font-size: 17px;
    font-family: calibri, sans-serif;
}

.xpedia-desc ul li {
    font-size: 16px;
    font-family: calibri, sans-serif;
}

.estimasi-desc {
    font-size: 16px;
    font-family: calibri, sans-serif;
}

.btn-pilihProduk {
    background-color: #444444;
}

.btn-pilihProduk:hover {
    background-color: #111111;
}

.center {
    text-align: center;
}

.dist,
.reseller {
    font-family: calibri, sans-serif;
    margin-top: 20px;
}

.reseller-ig {
    background-color: rgb(253, 223, 000);
    padding: 10px;
    margin-bottom: 10px;
}

.reseller-ig p {
    margin-bottom: 0;
}

.re-ig {
    margin-top: 1.125rem;
    padding: 0;
}

.re-img {
    position: relative;
    bottom: 0px;
}

.reseller-testi {
    margin-bottom: 10px;
}

.hl {
    font-family: calibri, sans-serif;
    text-align: center;
    background-color: #99ddf4;
    padding: 5px;
    margin: 0 15px;
}

.about {
    margin-top: 30px;
    font-family: calibri, sans-serif;
}

.K {
    font-size: 37px;
    margin: 0;
    padding: 0;
}

.ttg {
    font-size: 24px;
    line-height: 0;
}

.about-s1-c2 {
    padding-top: 20px;
}

.about-pic {
    margin-bottom: 30px;
}

.info {
    font-family: calibri, sans-serif;
    margin-top: 30px;
}

.info h1 {
    text-align: center;
}

.info p {
    text-align: center;
}

.info-btn {
    border: 1px solid #666666;
    text-align: center;
    padding: 5px 20px;
    margin-bottom: 40px;
    background: #7ef0d6;
    color: black;
}

.info h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.pos-btn {
    text-align: center;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
    -webkit-box-shadow: -1px 27px 32px -24px rgba(0,0,0,0.66);
    -moz-box-shadow: -1px 27px 32px -24px rgba(0,0,0,0.66);
    box-shadow: -1px 27px 32px -24px rgba(0,0,0,0.66);
}

.info-btn {
  background: #389de0;
  background-image: -webkit-linear-gradient(top, #389de0, #2e97d9);
  background-image: -moz-linear-gradient(top, #389de0, #2e97d9);
  background-image: -ms-linear-gradient(top, #389de0, #2e97d9);
  background-image: -o-linear-gradient(top, #389de0, #2e97d9);
  background-image: linear-gradient(to bottom, #389de0, #2e97d9);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  -webkit-box-shadow: 0px 1px 3px #757575;
  -moz-box-shadow: 0px 1px 3px #757575;
  box-shadow: 0px 1px 3px #757575;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  border: solid #555966 2px;
  text-decoration: none;
}

.info-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}